<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', { title: 'Add Fit' }) %>
  <body >
    <div class="container-fluid ">
      <div class="row min-vh-100" >
         <%- include('../partials/adminDashboard') %>

        <!-- Main Content -->
         <div class="col-md-8 d-flex flex-column m-4 text-center" >
            <h1 class="text-center">Add Fit</h1>
            <% if(error) { %>
                <p class="text-danger"><b><%= error%></b></p>
            <%} %>
            <div class="d-flex justify-content-center mt-5">
                <form action="/admin/addColour" method="post" class="d-flex flex-column p-4 gap-4 col-md-6">
                    <label for="name"></label>
                    <input type="text" name="name" placeholder="Name" class="form-control" />
                    
                    <label for="hexcode"></label>
                    <input type="text" name="hexcode" placeholder="Hex code" class="form-control" />
                    
                    <button class="btn btn-dark" type="submit">Add</button>
                </form>
            </div>


         </div>
        
    </div>
             <footer class="text-center py-4 small text-muted border-top mt-4" style="font-weight: 700;">
            © 2025 | ShopCart | All Rights Reserved. | We Give You Style.
            </footer>
    </div>

   

    <!-- Bootstrap & Icons -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
