<footer class=" py-5 mt-5 footerBody">
  <div class="container">
    <div class="row text-center text-md-start footer">
      <div class="col-md-3">
        <img src="images/ShopCart.png" class="w-50 h-25">
      </div>
      <div class="col-md-3">
        <h6>Info</h6>
        <p><a href="#" >Contact us</a></p>
        <p><a href="#">About us</a></p>
      </div>
      <div class="col-md-3">
        <h6>Policies</h6>
        <p><a href="#">Privacy Notice</a></p>
        <p><a href="#">Return policy</a></p>
        <p><a href="#">Terms and Conditions</a></p>
        <p><a href="#">Cookie Policy</a></p>
      </div>
      <div class="col-md-3">
        <h6>Subscribe to Our News Letter</h6>
        <input type="email" class="form-control mb-2" placeholder="Email Address">
        <div>
          <a href="#"><i class="bi bi-facebook me-2"></i></a>
          <a href="#"><i class="bi bi-instagram me-2"></i></a>
          <a href="#"><i class="bi bi-twitter"></i></a>
        </div>
      </div>
    </div>
    <hr />
    <p class="text-center small text-muted">© 2025 | ShopCart | All Rights Reserved. | We Give You Style.</p>
  </div>

    <link rel="stylesheet" href="/css/style.css" />
</footer>
